body {
    /* background: rgb(0, 255, 191); */
    font: normal 15pt Arial;
}

header {
    color: rgb(55, 0, 255);
    text-align: center;
}

section {
    background: blueviolet;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(65, 0, 0);
}

div {
    padding: 12px;
    text-align: center;
}

img#img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer {
    color: rgb(255, 0, 234);
    text-align: center;
    font-style: italic;
}
